<div id="login-dialog" style="display: none;" data-overlay-container="true"><span hidden=""></span>
    <div role="dialog" tabindex="-1" aria-labelledby="accountMenuContainerID" id="react-aria-7518852385-5"
        data-ismodal="true" class="popoverContainer-0-2-110 accountPopup-0-2-179">
        <div
            style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: 0px -1px -1px 0px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;">
            <h1 id="accountMenuContainerID">Account</h1>
        </div>
        <div class="menuPopupSection-0-2-286">
            <h3>Sign Up for Updates</h3><button id="close-login-dialog" type="button" aria-label="Close Dialogue"><svg width="14"
                    height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.4049 7.0025L13.6949 1.7125C14.0849 1.3225 14.0849 0.6925 13.6949 0.3025C13.3049 -0.0875002 12.6749 -0.0875002 12.2849 0.3025L6.9949 5.5925L1.70494 0.2925C1.31494 -0.0975 0.684941 -0.0975 0.294941 0.2925C-0.0950586 0.6825 -0.0950586 1.3125 0.294941 1.7025L5.5849 7.0025L0.294941 12.2925C-0.0950586 12.6825 -0.0950586 13.3125 0.294941 13.7025C0.484941 13.9025 0.734941 14.0025 0.994941 14.0025C1.25494 14.0025 1.50494 13.9025 1.70494 13.7125L6.9949 8.4125L12.2849 13.7025C12.4849 13.9025 12.7349 14.0025 12.9949 14.0025C13.2549 14.0025 13.5049 13.9025 13.7049 13.7125C14.0949 13.3225 14.0949 12.6925 13.7049 12.3025L8.4049 7.0025Z">
                    </path>
                </svg></button>
        </div>
        <div class="menuPopupSection-0-2-286">
            <p>Please enter your email for updates on the latest new shows and movies coming to Pluto TV! Sync your
                Favorites and Watchlist across devices.</p><a data-savepage-href="/en/account/sign-up"
                href="https://www.pluto.tv/en/account/sign-up" type="button" tabindex="0"
                class="primaryButton-0-2-201 current">Sign Up - Free</a>
        </div>
        <div class="menuPopupLinks-0-2-288"><a data-savepage-href="/en/account/sign-in"
                href="https://www.pluto.tv/en/account/sign-in" aria-label="Already have an account? Sign In, Link"
                type="button" tabindex="0" class="current">Already have an account?<span>Sign In</span></a><a
                href="https://support.pluto.tv/" rel="noopener, noreferrer" target="_blank">Help and Support</a>
        </div>
        <div
            style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: 0px -1px -1px 0px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;">
            <button tabindex="-1" aria-label="Dismiss"></button></div>
    </div><span hidden=""></span>
  </div>